What do we mean by having clean/Tidy Data?
1. One visual tell-tale sign is that the dataset is structured into distinct input variables and response variables.
Note:Take into account the context of your dataset

# **Common Problems with Messy Datasets**



1. Column headers are values, not variable names
2. Multiple variables are stored in one column
3. Variables are stored in both rows and columns
4. Mulitple types of observational units are stored in the  same table
5. A single observational unit is stored in multiple tables.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('pew.csv')

In [3]:
df.head()

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116

In [9]:
#id_vars represents the column we dont wanna touch
#transforming the dataframe from wide data to long data
df_long=pd.melt(df,id_vars='religion')
pd.set_option('display.max_rows', 100)

In [14]:
#each column needs to be a value
#each row needs to be an observation
df_long.head(100)

                   religion variable  value
0                  Agnostic    <$10k     27
1                   Atheist    <$10k     12
2                  Buddhist    <$10k     27
3                  Catholic    <$10k    418
4        Don’t know/refused    <$10k     15
5          Evangelical Prot    <$10k    575
6                     Hindu    <$10k      1
7   Historically Black Prot    <$10k    228
8         Jehovah's Witness    <$10k     20
9                    Jewish    <$10k     19
10            Mainline Prot    <$10k    289
11                   Mormon    <$10k     29
12                   Muslim    <$10k      6
13                 Orthodox    <$10k     13
14          Other Christian    <$10k      9
15             Other Faiths    <$10k     20
16    Other World Religions    <$10k      5
17             Unaffiliated    <$10k    217
18                 Agnostic  $10-20k     34
19                  Atheist  $10-20k     27
20                 Buddhist  $10-20k     21
21                 Catholic  $10-20k    617
22       Don’t know/refused  $10-20k     14
23         Evangelical Prot  $10-20k    869
24                    Hindu  $10-20k      9
25  Historically Black Prot  $10-20k    244
26        Jehovah's Witness  $10-20k     27
27                   Jewish  $10-20k     19
28            Mainline Prot  $10-20k    495
29                   Mormon  $10-20k     40
30                   Muslim  $10-20k      7
31                 Orthodox  $10-20k     17
32          Other Christian  $10-20k      7
33             Other Faiths  $10-20k     33
34    Other World Religions  $10-20k      2
35             Unaffiliated  $10-20k    299
36                 Agnostic  $20-30k     60
37                  Atheist  $20-30k     37
38                 Buddhist  $20-30k     30
39                 Catholic  $20-30k    732
40       Don’t know/refused  $20-30k     15
41         Evangelical Prot  $20-30k   1064
42                    Hindu  $20-30k      7
43  Historically Black Prot  $20-30k    236
44        Jehovah's Witness  $20-30k     24
45                   Jewish  $20-30k     25
46            Mainline Prot  $20-30k    619
47                   Mormon  $20-30k     48
48                   Muslim  $20-30k      9
49                 Orthodox  $20-30k     23
50          Other Christian  $20-30k     11
51             Other Faiths  $20-30k     40
52    Other World Religions  $20-30k      3
53             Unaffiliated  $20-30k    374
54                 Agnostic  $30-40k     81
55                  Atheist  $30-40k     52
56                 Buddhist  $30-40k     34
57                 Catholic  $30-40k    670
58       Don’t know/refused  $30-40k     11
59         Evangelical Prot  $30-40k    982
60                    Hindu  $30-40k      9
61  Historically Black Prot  $30-40k    238
62        Jehovah's Witness  $30-40k     24
63                   Jewish  $30-40k     25
64            Mainline Prot  $30-40k    655
65                   Mormon  $30-40k     51
66                   Muslim  $30-40k     10
67                 Orthodox  $30-40k     32
68          Other Christian  $30-40k     13
69             Other Faiths  $30-40k     46
70    Other World Religions  $30-40k      4
71             Unaffiliated  $30-40k    365
72                 Agnostic  $40-50k     76
73                  Atheist  $40-50k     35
74                 Buddhist  $40-50k     33
75                 Catholic  $40-50k    638
76       Don’t know/refused  $40-50k     10
77         Evangelical Prot  $40-50k    881
78                    Hindu  $40-50k     11
79  Historically Black Prot  $40-50k    197
80        Jehovah's Witness  $40-50k     21
81                   Jewish  $40-50k     30
82            Mainline Prot  $40-50k    651
83                   Mormon  $40-50k     56
84                   Muslim  $40-50k      9
85                 Orthodox  $40-50k     32
86          Other Christian  $40-50k     13
87             Other Faiths  $40-50k     49
88    Other World Religions  $40-50k      2
89             Unaffiliated  $40-50k    341
90                 Agnostic  $50-75k    137
91                  Atheist  $50-75k     70
92                 Buddhist  $50-75k     58
93                 Catholic  $50-75k   1116
94       Don’t know/refused  $50-75k     35
95         Evangelical Prot  $50-75k   1486
96                    Hindu  $50-75k     34
97  Historically Black Prot  $50-75k    223
98        Jehovah's Witness  $50-75k     30
99                   Jewish  $50-75k     95

In [15]:
df_long=pd.melt(df,id_vars='religion',var_name='Income',value_name='count')

In [16]:
df_long.head()

             religion Income  count
0            Agnostic  <$10k     27
1             Atheist  <$10k     12
2            Buddhist  <$10k     27
3            Catholic  <$10k    418
4  Don’t know/refused  <$10k     15

In [17]:
billboard = pd.read_csv('billboard.csv')

In [19]:
billboard.head(100)

,year,artist,track,time,date.entered,wk1,wk2,wk3,wk4,wk5,...,wk67,wk68,wk69,wk70,wk71,wk72,wk73,wk74,wk75,wk76
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,87,82.0,72.0,77.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,91,87.0,92.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,81,70.0,68.0,67.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,3 Doors Down,Loser,4:24,2000-10-21,76,76.0,72.0,69.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,57,34.0,25.0,17.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2000,98^0,Give Me Just One Nig...,3:24,2000-08-19,51,39.0,34.0,26.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,A*Teens,Dancing Queen,3:44,2000-07-08,97,97.0,96.0,95.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,Aaliyah,I Don't Wanna,4:15,2000-01-29,84,62.0,51.0,41.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,Aaliyah,Try Again,4:03,2000-03-18,59,53.0,38.0,28.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,"Adams, Yolanda",Open My Heart,5:30,2000-08-26,76,76.0,74.0,69.0,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2000,"Adkins, Trace",More,3:05,2000-04-29,84,84.0,75.0,73.0,73.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2000,"Aguilera, Christina",Come On Over Baby (A...,3:38,2000-08-05,57,47.0,45.0,29.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2000,"Aguilera, Christina",I Turn To You,4:00,2000-04-15,50,39.0,30.0,28.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2000,"Aguilera, Christina",What A Girl Wants,3:18,1999-11-27,71,51.0,28.0,18.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2000,Alice Deejay,Better Off Alone,6:50,2000-04-08,79,65.0,53.0,48.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2000,"Allan, Gary",Smoke Rings In The D...,4:18,2000-01-22,80,78.0,76.0,77.0,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2000,Amber,Sexual,4:38,1999-07-17,99,99.0,96.0,96.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2000,Anastacia,I'm Outta Love,4:01,2000-04-01,92,NaN,NaN,95.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2000,"Anthony, Marc",My Baby You,3:59,2000-09-16,82,76.0,76.0,70.0,82.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2000,"Anthony, Marc",You Sang To Me,3:50,2000-02-26,77,54.0,50.0,43.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2000,Avant,My First Love,4:28,2000-11-04,70,62.0,56.0,43.0,39.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2000,Avant,Separated,4:13,2000-04-29,62,32.0,30.0,23.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2000,BBMak,Back Here,3:35,2000-04-29,99,86.0,60.0,52.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2000,"Backstreet Boys, The",Shape Of My Heart,3:49,2000-10-14,39,25.0,24.0,15.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2000,"Backstreet Boys, The",Show Me The Meaning ...,3:54,2000-01-01,74,62.0,55.0,25.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2000,"Backstreet Boys, The",The One,3:46,2000-05-27,58,50.0,43.0,37.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2000,"Badu, Erkyah",Bag Lady,5:03,2000-08-19,67,53.0,42.0,41.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2000,Baha Men,Who Let The Dogs Out,3:17,2000-07-22,99,92.0,85.0,76.0,65.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2000,Barenaked Ladies,Pinch Me,3:46,2000-09-09,77,76.0,69.0,45.0,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2000,Beenie Man,Girls Dem Sugar,4:17,2000-10-21,72,72.0,63.0,56.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2000,Before Dark,Monica,4:04,2000-05-20,95,87.0,80.0,80.0,77.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2000,"Bega, Lou",Tricky Tricky,3:23,2000-01-29,75,74.0,87.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2000,Big Punisher,It's So Hard,3:25,2000-04-22,96,87.0,75.0,79.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2000,Black Rob,Whoa!,4:04,2000-03-04,78,59.0,53.0,52.0,47.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2000,"Black, Clint",Been There,5:28,2000-02-19,87,73.0,62.0,58.0,58.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,2000,Blaque,Bring It All To Me,3:46,1999-10-23,73,63.0,50.0,42.0,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,2000,"Blige, Mary J.",Deep Inside,5:26,1999-11-13,83,80.0,80.0,75.0,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,2000,"Blige, Mary J.",Give Me You,5:00,2000-04-15,97,94.0,77.0,76.0,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,2000,Blink-182,All The Small Things,2:52,1999-12-04,89,76.0,69.0,59.0,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,2000,Bloodhound Gang,The Bad Touch,4:20,2000-03-18,70,62.0,55.0,55.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,2000,Bon Jovi,It's My Life,3:44,2000-08-12,64,58.0,51.0,51.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,2000,"Braxton, Toni",He Wasn't Man Enough,4:21,2000-03-18,63,55.0,48.0,39.0,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,2000,"Braxton, Toni",Just Be A Man About ...,4:10,2000-07-29,76,69.0,51.0,42.0,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,2000,"Braxton, Toni",Spanish Guitar,4:24,2000-12-02,98,98.0,98.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2000,"Brock, Chad",A Country Boy Can Su...,3:54,2000-01-01,93,75.0,92.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,2000,"Brock, Chad",Yes!,3:22,2000-04-08,90,77.0,66.0,61.0,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,2000,Brooks & Dunn,You'll Always Be Lov...,2:58,2000-06-10,95,85.0,85.0,85.0,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,2000,"Brooks, Garth",Do What You Gotta Do,2:56,2000-02-19,86,81.0,72.0,70.0,69.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,2000,"Byrd, Tracy",Put Your Hand In Min...,4:30,2000-01-29,81,77.0,76.0,76.0,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,2000,"Cagle, Chris",My Love Goes On And ...,3:02,2000-10-21,99,94.0,94.0,87.0,84.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,2000,Cam'ron,What Means The World...,4:38,2000-10-14,94,94.0,96.0,91.0,84.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,2000,"Carey, Mariah",Crybaby,5:19,2000-06-24,28,34.0,48.0,62.0,77.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,2000,"Carey, Mariah",Thank God I Found Yo...,4:14,1999-12-11,82,68.0,50.0,50.0,41.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,2000,"Carter, Aaron",Aaron's Party (Come ...,3:23,2000-08-26,99,75.0,57.0,35.0,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,2000,"Carter, Torrey",Take That,3:43,2000-06-24,94,88.0,86.0,91.0,89.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,2000,Changing Faces,That Other Woman,4:00,2000-09-30,80,72.0,66.0,66.0,64.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,2000,"Chesney, Kenny",I Lost It,3:54,2000-10-21,75,67.0,61.0,58.0,58.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,2000,"Chesney, Kenny",What I Need To Do,4:05,2000-04-01,79,74.0,68.0,72.0,69.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,2000,Clark Family Experience,Meanwhile Back At Th...,2:56,2000-11-18,87,86.0,81.0,92.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,2000,"Clark, Terri",A Little Gasoline,3:07,2000-12-16,75,82.0,88.0,96.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,2000,Common,The Light,3:55,2000-08-05,75,55.0,53.0,49.0,46.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,2000,Counting Crows,Hanginaround,4:07,1999-11-06,84,70.0,66.0,60.0,46.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,2000,Creed,Higher,5:16,1999-09-11,81,77.0,73.0,63.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,2000,Creed,With Arms Wide Open,3:52,2000-05-13,84,78.0,76.0,74.0,70.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,2000,"Cyrus, Billy Ray",You Won't Be Lonely ...,3:45,2000-09-23,97,97.0,97.0,92.0,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,2000,D'Angelo,Left & Right,4:35,1999-12-11,93,77.0,75.0,70.0,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,2000,D'Angelo,Untitled (How Does I...,7:10,2000-01-22,77,56.0,35.0,26.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,2000,DMX,Party Up (Up In Here...,3:45,2000-02-26,88,74.0,62.0,56.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,2000,DMX,What You Want,4:05,2000-07-01,98,95.0,95.0,87.0,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,2000,DMX,What's My Name,3:50,2000-01-15,98,76.0,69.0,69.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,2000,Da Brat,That's What I'm Look...,3:44,2000-02-26,93,73.0,60.0,60.0,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,2000,Da Brat,What'Chu Like,3:57,2000-06-03,71,65.0,54.0,54.0,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,2000,"Davidson, Clay",Unconditional,3:56,2000-03-25,97,97.0,97.0,90.0,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,2000,De La Soul,All Good?,5:02,2000-12-23,96,96.0,100.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,2000,Destiny's Child,Independent Women Pa...,3:38,2000-09-23,78,63.0,49.0,33.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,2000,Destiny's Child,Jumpin' Jumpin',3:48,2000-05-13,74,71.0,65.0,62.0,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,2000,Destiny's Child,Say My Name,4:31,1999-12-25,83,83.0,44.0,38.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,2000,"Diffie, Joe",It's Always Somethin...,2:55,2000-08-12,81,78.0,67.0,63.0,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,2000,"Diffie, Joe",The Quittin' Kind,3:23,2000-01-01,98,100.0,100.0,90.0,93.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,2000,"Dion, Celine",That's The Way It Is,4:03,1999-11-13,74,68.0,65.0,49.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,2000,"Dixie Chicks, The",Cold Day In July,5:12,2000-06-24,80,79.0,76.0,72.0,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,2000,"Dixie Chicks, The",Cowboy Take Me Away,4:51,1999-11-27,79,72.0,70.0,61.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,2000,"Dixie Chicks, The",Goodbye Earl,4:19,2000-03-18,40,29.0,24.0,24.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,2000,"Dixie Chicks, The",Without You,3:32,2000-10-07,80,70.0,63.0,56.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,2000,Dr. Dre,Forgot About Dre,3:42,2000-01-22,75,55.0,47.0,36.0,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,2000,Dr. Dre,The Next Episode,2:38,2000-05-27,78,67.0,58.0,53.0,46.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,2000,Drama,"Left, Right, Left",3:37,2000-02-12,100,98.0,89.0,80.0,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,2000,Dream,He Loves U Not,3:43,2000-09-30,99,92.0,81.0,59.0,47.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,2000,"Eastsidaz, The",G'D Up,4:27,2000-01-08,77,77.0,89.0,64.0,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,2000,"Eastsidaz, The",Got Beef,3:58,2000-07-01,99,99.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,2000,Eiffel 65,Blue,3:29,1999-12-11,67,29.0,16.0,16.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,2000,"Elliott, Missy ""Misdemeanor""",Hot Boyz,3:51,1999-11-27,36,21.0,13.0,9.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,2000,Eminem,Stan,5:26,2000-11-04,78,67.0,57.0,57.0,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,2000,Eminem,The Real Slim Shady,4:42,2000-05-06,70,32.0,20.0,16.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,2000,Eminem,The Way I Am,4:40,2000-08-26,87,74.0,59.0,65.0,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,2000,En Vogue,Riddle,5:10,2000-06-17,92,92.0,97.0,100.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,2000,"Estefan, Gloria",No Me Dejes De Quere...,3:25,2000-06-10,77,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,2000,"Evans, Sara",Born To Fly,5:36,2000-10-21,77,71.0,64.0,57.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,2000,Eve,Got It All,3:48,2000-07-15,89,88.0,88.0,91.0,95.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,2000,Eve,Love Is Blind,3:51,2000-01-08,94,91.0,57.0,46.0,46.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
billboard.shape

(317, 81)

In [23]:
billboard_melt = pd.melt(billboard, id_vars=['year','artist', 'track','time','date.entered'],var_name='Week',value_name='Rating')

In [25]:
billboard_melt.head()

   year        artist                    track  time date.entered Week  Rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

In [26]:
#databases prefer data in long format

In [27]:
billboard_melt.shape

(24092, 7)

In [28]:
ebola = pd.read_csv('country_timeseries.csv')

In [29]:
ebola.head()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN

In [30]:
ebola_long=pd.melt(ebola, id_vars=['Date','Day'])

In [32]:
ebola_long.head()

         Date  Day      variable   value
0    1/5/2015  289  Cases_Guinea  2776.0
1    1/4/2015  288  Cases_Guinea  2775.0
2    1/3/2015  287  Cases_Guinea  2769.0
3    1/2/2015  286  Cases_Guinea     NaN
4  12/31/2014  284  Cases_Guinea  2730.0

In [33]:
'Cases_Guinea'.split('_')

['Cases', 'Guinea']

In [34]:
variable_split = ebola_long['variable'].str.split('_')

In [38]:
variable_split

0       [Cases, Guinea]
1       [Cases, Guinea]
2       [Cases, Guinea]
3       [Cases, Guinea]
4       [Cases, Guinea]
             ...
1947     [Deaths, Mali]
1948     [Deaths, Mali]
1949     [Deaths, Mali]
1950     [Deaths, Mali]
1951     [Deaths, Mali]
Name: variable, Length: 1952, dtype: object

In [37]:
type(variable_split)

pandas.core.series.Series

In [42]:
(variable_split[0][0])

'Cases'

In [43]:
type(variable_split[0][0])

str

In [44]:
variable_split.str[0]

0        Cases
1        Cases
2        Cases
3        Cases
4        Cases
         ...
1947    Deaths
1948    Deaths
1949    Deaths
1950    Deaths
1951    Deaths
Name: variable, Length: 1952, dtype: object

In [45]:
variable_split.str[1]

0       Guinea
1       Guinea
2       Guinea
3       Guinea
4       Guinea
         ...
1947      Mali
1948      Mali
1949      Mali
1950      Mali
1951      Mali
Name: variable, Length: 1952, dtype: object

In [46]:
ebola_long.head()

         Date  Day      variable   value
0    1/5/2015  289  Cases_Guinea  2776.0
1    1/4/2015  288  Cases_Guinea  2775.0
2    1/3/2015  287  Cases_Guinea  2769.0
3    1/2/2015  286  Cases_Guinea     NaN
4  12/31/2014  284  Cases_Guinea  2730.0

In [47]:
ebola_long['stats'] = variable_split.str[0]
ebola_long['Country'] = variable_split.str[1]

In [48]:
ebola_long.head()

         Date  Day      variable   value  stats Country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea

In [51]:
ebola_long[['stats_e', 'Country_e']] = (ebola_long['variable']
                                        .str
                                        .split('_', expand=True)

In [52]:
ebola_long

            Date  Day      variable   value   stats Country stats_e Country_e
0       1/5/2015  289  Cases_Guinea  2776.0   Cases  Guinea   Cases    Guinea
1       1/4/2015  288  Cases_Guinea  2775.0   Cases  Guinea   Cases    Guinea
2       1/3/2015  287  Cases_Guinea  2769.0   Cases  Guinea   Cases    Guinea
3       1/2/2015  286  Cases_Guinea     NaN   Cases  Guinea   Cases    Guinea
4     12/31/2014  284  Cases_Guinea  2730.0   Cases  Guinea   Cases    Guinea
...          ...  ...           ...     ...     ...     ...     ...       ...
1947   3/27/2014    5   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1948   3/26/2014    4   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1949   3/25/2014    3   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1950   3/24/2014    2   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1951   3/22/2014    0   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali

[1952 rows x 8 columns]

In [53]:
weather = pd.read_csv('weather.csv')

In [54]:
weather.head()

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
#can use weather.melt, returns same result
weather_melt = pd.melt(weather, 
                       id_vars=['id','year','month','element'], 
                       var_name='day',
                       value_name='Temp')

In [57]:
weather_melt.head()

        id  year  month element day  Temp
0  MX17004  2010      1    tmax  d1   NaN
1  MX17004  2010      1    tmin  d1   NaN
2  MX17004  2010      2    tmax  d1   NaN
3  MX17004  2010      2    tmin  d1   NaN
4  MX17004  2010      3    tmax  d1   NaN

In [59]:
weather_tidy = weather_melt.pivot_table(index=['id','year','month','day'],
                                       columns = 'element',
                                       values ='Temp')

In [61]:
weather_tidy.reset_index()

element       id  year  month  day  tmax  tmin
0        MX17004  2010      1  d30  27.8  14.5
1        MX17004  2010      2  d11  29.7  13.4
2        MX17004  2010      2   d2  27.3  14.4
3        MX17004  2010      2  d23  29.9  10.7
4        MX17004  2010      2   d3  24.1  14.4
5        MX17004  2010      3  d10  34.5  16.8
6        MX17004  2010      3  d16  31.1  17.6
7        MX17004  2010      3   d5  32.1  14.2
8        MX17004  2010      4  d27  36.3  16.7
9        MX17004  2010      5  d27  33.2  18.2
10       MX17004  2010      6  d17  28.0  17.5
11       MX17004  2010      6  d29  30.1  18.0
12       MX17004  2010      7   d3  28.6  17.5
13       MX17004  2010      7  d14  29.9  16.5
14       MX17004  2010      8  d23  26.4  15.0
15       MX17004  2010      8   d5  29.6  15.8
16       MX17004  2010      8  d29  28.0  15.3
17       MX17004  2010      8  d13  29.8  16.5
18       MX17004  2010      8  d25  29.7  15.6
19       MX17004  2010      8  d31  25.4  15.4
20       MX17004  2010      8   d8  29.0  17.3
21       MX17004  2010     10   d5  27.0  14.0
22       MX17004  2010     10  d14  29.5  13.0
23       MX17004  2010     10  d15  28.7  10.5
24       MX17004  2010     10  d28  31.2  15.0
25       MX17004  2010     10   d7  28.1  12.9
26       MX17004  2010     11   d2  31.3  16.3
27       MX17004  2010     11   d5  26.3   7.9
28       MX17004  2010     11  d27  27.7  14.2
29       MX17004  2010     11  d26  28.1  12.1
30       MX17004  2010     11   d4  27.2  12.0
31       MX17004  2010     12   d1  29.9  13.8
32       MX17004  2010     12   d6  27.8  10.5

In [62]:
billboard_melt.head()

   year        artist                    track  time date.entered Week  Rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

In [63]:
billboard_melt.loc[billboard_melt['track']=='Loser']

       year        artist  track  time date.entered  Week  Rating
3      2000  3 Doors Down  Loser  4:24   2000-10-21   wk1    76.0
320    2000  3 Doors Down  Loser  4:24   2000-10-21   wk2    76.0
637    2000  3 Doors Down  Loser  4:24   2000-10-21   wk3    72.0
954    2000  3 Doors Down  Loser  4:24   2000-10-21   wk4    69.0
1271   2000  3 Doors Down  Loser  4:24   2000-10-21   wk5    67.0
1588   2000  3 Doors Down  Loser  4:24   2000-10-21   wk6    65.0
1905   2000  3 Doors Down  Loser  4:24   2000-10-21   wk7    55.0
2222   2000  3 Doors Down  Loser  4:24   2000-10-21   wk8    59.0
2539   2000  3 Doors Down  Loser  4:24   2000-10-21   wk9    62.0
2856   2000  3 Doors Down  Loser  4:24   2000-10-21  wk10    61.0
3173   2000  3 Doors Down  Loser  4:24   2000-10-21  wk11    61.0
3490   2000  3 Doors Down  Loser  4:24   2000-10-21  wk12    59.0
3807   2000  3 Doors Down  Loser  4:24   2000-10-21  wk13    61.0
4124   2000  3 Doors Down  Loser  4:24   2000-10-21  wk14    66.0
4441   2000  3 Doors Down  Loser  4:24   2000-10-21  wk15    72.0
4758   2000  3 Doors Down  Loser  4:24   2000-10-21  wk16    76.0
5075   2000  3 Doors Down  Loser  4:24   2000-10-21  wk17    75.0
5392   2000  3 Doors Down  Loser  4:24   2000-10-21  wk18    67.0
5709   2000  3 Doors Down  Loser  4:24   2000-10-21  wk19    73.0
6026   2000  3 Doors Down  Loser  4:24   2000-10-21  wk20    70.0
6343   2000  3 Doors Down  Loser  4:24   2000-10-21  wk21     NaN
6660   2000  3 Doors Down  Loser  4:24   2000-10-21  wk22     NaN
6977   2000  3 Doors Down  Loser  4:24   2000-10-21  wk23     NaN
7294   2000  3 Doors Down  Loser  4:24   2000-10-21  wk24     NaN
7611   2000  3 Doors Down  Loser  4:24   2000-10-21  wk25     NaN
7928   2000  3 Doors Down  Loser  4:24   2000-10-21  wk26     NaN
8245   2000  3 Doors Down  Loser  4:24   2000-10-21  wk27     NaN
8562   2000  3 Doors Down  Loser  4:24   2000-10-21  wk28     NaN
8879   2000  3 Doors Down  Loser  4:24   2000-10-21  wk29     NaN
9196   2000  3 Doors Down  Loser  4:24   2000-10-21  wk30     NaN
9513   2000  3 Doors Down  Loser  4:24   2000-10-21  wk31     NaN
9830   2000  3 Doors Down  Loser  4:24   2000-10-21  wk32     NaN
10147  2000  3 Doors Down  Loser  4:24   2000-10-21  wk33     NaN
10464  2000  3 Doors Down  Loser  4:24   2000-10-21  wk34     NaN
10781  2000  3 Doors Down  Loser  4:24   2000-10-21  wk35     NaN
11098  2000  3 Doors Down  Loser  4:24   2000-10-21  wk36     NaN
11415  2000  3 Doors Down  Loser  4:24   2000-10-21  wk37     NaN
11732  2000  3 Doors Down  Loser  4:24   2000-10-21  wk38     NaN
12049  2000  3 Doors Down  Loser  4:24   2000-10-21  wk39     NaN
12366  2000  3 Doors Down  Loser  4:24   2000-10-21  wk40     NaN
12683  2000  3 Doors Down  Loser  4:24   2000-10-21  wk41     NaN
13000  2000  3 Doors Down  Loser  4:24   2000-10-21  wk42     NaN
13317  2000  3 Doors Down  Loser  4:24   2000-10-21  wk43     NaN
13634  2000  3 Doors Down  Loser  4:24   2000-10-21  wk44     NaN
13951  2000  3 Doors Down  Loser  4:24   2000-10-21  wk45     NaN
14268  2000  3 Doors Down  Loser  4:24   2000-10-21  wk46     NaN
14585  2000  3 Doors Down  Loser  4:24   2000-10-21  wk47     NaN
14902  2000  3 Doors Down  Loser  4:24   2000-10-21  wk48     NaN
15219  2000  3 Doors Down  Loser  4:24   2000-10-21  wk49     NaN
15536  2000  3 Doors Down  Loser  4:24   2000-10-21  wk50     NaN
15853  2000  3 Doors Down  Loser  4:24   2000-10-21  wk51     NaN
16170  2000  3 Doors Down  Loser  4:24   2000-10-21  wk52     NaN
16487  2000  3 Doors Down  Loser  4:24   2000-10-21  wk53     NaN
16804  2000  3 Doors Down  Loser  4:24   2000-10-21  wk54     NaN
17121  2000  3 Doors Down  Loser  4:24   2000-10-21  wk55     NaN
17438  2000  3 Doors Down  Loser  4:24   2000-10-21  wk56     NaN
17755  2000  3 Doors Down  Loser  4:24   2000-10-21  wk57     NaN
18072  2000  3 Doors Down  Loser  4:24   2000-10-21  wk58     NaN
18389  2000  3 Doors Down  Loser  4:24   2000-10-21  wk59     NaN
18706  2000  3 Doors Down  Loser  4:24   2000-10-21  wk60     NaN
19023  2000  3 Doors Down  Loser  4:24   2000-10-21  wk61     NaN
19340  2000  3 Doors Down  Loser  4:24   2000-10-21  wk62     NaN
19657  2000  3 Doors Down  Loser  4:24   2000-10-21  wk63     NaN
19974  2000  3 Doors Down  Loser  4:24   2000-10-21  wk64     NaN
20291  2000  3 Doors Down  Loser  4:24   2000-10-21  wk65     NaN
20608  2000  3 Doors Down  Loser  4:24   2000-10-21  wk66     NaN
20925  2000  3 Doors Down  Loser  4:24   2000-10-21  wk67     NaN
21242  2000  3 Doors Down  Loser  4:24   2000-10-21  wk68     NaN
21559  2000  3 Doors Down  Loser  4:24   2000-10-21  wk69     NaN
21876  2000  3 Doors Down  Loser  4:24   2000-10-21  wk70     NaN
22193  2000  3 Doors Down  Loser  4:24   2000-10-21  wk71     NaN
22510  2000  3 Doors Down  Loser  4:24   2000-10-21  wk72     NaN
22827  2000  3 Doors Down  Loser  4:24   2000-10-21  wk73     NaN
23144  2000  3 Doors Down  Loser  4:24   2000-10-21  wk74     NaN
23461  2000  3 Doors Down  Loser  4:24   2000-10-21  wk75     NaN
23778  2000  3 Doors Down  Loser  4:24   2000-10-21  wk76     NaN

In [106]:
billboard_song = billboard_melt[['year','artist','track','time']]

In [107]:
billboard_song.head()

   year        artist                    track  time
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22
1  2000       2Ge+her  The Hardest Part Of ...  3:15
2  2000  3 Doors Down               Kryptonite  3:53
3  2000  3 Doors Down                    Loser  4:24
4  2000      504 Boyz            Wobble Wobble  3:35

In [108]:
billboard_song.shape

(24092, 4)

In [109]:
billboard_song = billboard_song.drop_duplicates()

In [110]:
billboard_song.shape

(317, 4)

In [111]:
billboard_song['id'] = range(len(billboard_song))

In [112]:
billboard_song.head(50)

    year                artist                    track  time  id
0   2000                 2 Pac  Baby Don't Cry (Keep...  4:22   0
1   2000               2Ge+her  The Hardest Part Of ...  3:15   1
2   2000          3 Doors Down               Kryptonite  3:53   2
3   2000          3 Doors Down                    Loser  4:24   3
4   2000              504 Boyz            Wobble Wobble  3:35   4
5   2000                  98^0  Give Me Just One Nig...  3:24   5
6   2000               A*Teens            Dancing Queen  3:44   6
7   2000               Aaliyah            I Don't Wanna  4:15   7
8   2000               Aaliyah                Try Again  4:03   8
9   2000        Adams, Yolanda            Open My Heart  5:30   9
10  2000         Adkins, Trace                     More  3:05  10
11  2000   Aguilera, Christina  Come On Over Baby (A...  3:38  11
12  2000   Aguilera, Christina            I Turn To You  4:00  12
13  2000   Aguilera, Christina        What A Girl Wants  3:18  13
14  2000          Alice Deejay         Better Off Alone  6:50  14
15  2000           Allan, Gary  Smoke Rings In The D...  4:18  15
16  2000                 Amber                   Sexual  4:38  16
17  2000             Anastacia           I'm Outta Love  4:01  17
18  2000         Anthony, Marc              My Baby You  3:59  18
19  2000         Anthony, Marc           You Sang To Me  3:50  19
20  2000                 Avant            My First Love  4:28  20
21  2000                 Avant                Separated  4:13  21
22  2000                 BBMak                Back Here  3:35  22
23  2000  Backstreet Boys, The        Shape Of My Heart  3:49  23
24  2000  Backstreet Boys, The  Show Me The Meaning ...  3:54  24
25  2000  Backstreet Boys, The                  The One  3:46  25
26  2000          Badu, Erkyah                 Bag Lady  5:03  26
27  2000              Baha Men     Who Let The Dogs Out  3:17  27
28  2000      Barenaked Ladies                 Pinch Me  3:46  28
29  2000            Beenie Man          Girls Dem Sugar  4:17  29
30  2000           Before Dark                   Monica  4:04  30
31  2000             Bega, Lou           Tricky Tricky   3:23  31
32  2000          Big Punisher             It's So Hard  3:25  32
33  2000             Black Rob                    Whoa!  4:04  33
34  2000          Black, Clint               Been There  5:28  34
35  2000                Blaque       Bring It All To Me  3:46  35
36  2000        Blige, Mary J.              Deep Inside  5:26  36
37  2000        Blige, Mary J.              Give Me You  5:00  37
38  2000             Blink-182     All The Small Things  2:52  38
39  2000       Bloodhound Gang            The Bad Touch  4:20  39
40  2000              Bon Jovi             It's My Life  3:44  40
41  2000         Braxton, Toni     He Wasn't Man Enough  4:21  41
42  2000         Braxton, Toni  Just Be A Man About ...  4:10  42
43  2000         Braxton, Toni           Spanish Guitar  4:24  43
44  2000           Brock, Chad  A Country Boy Can Su...  3:54  44
45  2000           Brock, Chad                     Yes!  3:22  45
46  2000         Brooks & Dunn  You'll Always Be Lov...  2:58  46
47  2000         Brooks, Garth     Do What You Gotta Do  2:56  47
48  2000           Byrd, Tracy  Put Your Hand In Min...  4:30  48
49  2000          Cagle, Chris  My Love Goes On And ...  3:02  49

In [113]:
billboard_song.to_csv('billboard.csv', index=False)

In [114]:
billboard_ratings = billboard_melt.merge(billboard_song,on=['year','artist','track','time'])

In [115]:
billboard_ratings.head()

   year artist                    track  time date.entered Week  Rating  id
0  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0   0
1  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk2    82.0   0
2  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk3    72.0   0
3  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk4    77.0   0
4  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk5    87.0   0

In [117]:
billboard_ratings = billboard_ratings[['id','date.entered','Week','Rating']]

In [120]:
billboard_ratings.to_csv('billboardrating.csv', index=False)

In [121]:
billboard_ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24092 entries, 0 to 24091
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            24092 non-null  int32
 1   date.entered  24092 non-null  object
 2   Week          24092 non-null  object
 3   Rating        5307 non-null   float64
dtypes: float64(1), int32(1), object(2)
memory usage: 847.0+ KB

In [122]:
billboard_song.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 317 entries, 0 to 316
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    317 non-null    int64
 1   artist  317 non-null    object
 2   track   317 non-null    object
 3   time    317 non-null    object
 4   id      317 non-null    int32
dtypes: int32(1), int64(1), object(3)
memory usage: 13.6+ KB

In [123]:
billboard_melt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24092 entries, 0 to 24091
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          24092 non-null  int64
 1   artist        24092 non-null  object
 2   track         24092 non-null  object
 3   time          24092 non-null  object
 4   date.entered  24092 non-null  object
 5   Week          24092 non-null  object
 6   Rating        5307 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 1.3+ MB